body {
  margin: 25px;
}
h1 {
  text-align: center;
}
.searchArea {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
div {
  border: solid 2px;
  width: 150px;
  height: 150px;
  font-size: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
}
select {
  background-color: silver;
  margin-right: 5px;
  width: 180px;
}
button {
  background-color: black;
  color: white;
}
